.successStorySlider .swiper-button-prev,
.successStorySlider .swiper-button-next,
.successStorySlider .swiper-pagination {
    color: #F1494C;
}

.successStorySlider .swiper-button-prev::after,
.successStorySlider .swiper-button-next::after {
    font-size: 15px;
    background-color: #F1494C;
    color: white;
    padding: 13px 17px;
    border-radius: 50%;
}

/* @media only screen and (max-width: 768px) {

    .successStorySlider .swiper-button-prev,
    .successStorySlider .swiper-button-next {
        display: none;
    }

} */